[user]
	name = oshou
	email = adf1985adf@gmail.com
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep =auto
[alias]
	co = checkout
    c  = commit -m
    ca = commit -am
    p  = push
    a  = add
    s  = status
    l  = log
    i  = init
    ra = remote add
    rv = remote -v
    rrm= remote rm
    b = branch
    bd = branch -d
    d = diff
